@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.eot');
    src: url('fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --number-of-slides: 3;
    --slide-width: 70vw;
    --slide-gap: 4em;
    --transition-time: 0.5s;
    --transition-timing-function: ease-in-out;
    --greycolor: #F7F7F7;
    --darkgreycolor: #D9D9D9;
    --purplecolor: #663366;
    --pinkcolor: #DA0077;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

section {
    margin: 2em 0 2em 15vw;
    width: 85vw;
    overflow: hidden;
}

section > div#carousel {
    position: relative;
    display: flex;
    width: calc( var(--slide-width) * var(--number-of-slides) + var(--slide-gap) * (var(--number-of-slides) - 1));
    gap: var(--slide-gap);
}

section > div#carousel > article {
    background-color: var(--greycolor);
    display: grid;
    width: var(--slide-width);
    padding: 2em;
    gap: 4em;
    grid-template-columns: 1fr 2fr;
}

section > div#carousel > article > img {
    width: 100%;
    height: auto;
}

section > div#carousel > article > content {
    display: grid;
    gap: 2em;
    margin: 2em 0;
    grid-template-areas: "h3 h3"
                         "p p"
                         "button .";
    grid-template-columns: 1fr 2fr;
}

section > div#carousel > article > content > h3 {
    grid-area: h3;
    font-weight: 300;
}

section > div#carousel > article > content > p {
    grid-area: p;
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 300;
}

section > div#carousel > article > content > button {
    grid-area: button;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
    border: 1px solid var(--purplecolor);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

section > div#carousel > article > content > button > a{
    color: var(--purplecolor);
    font-size: 1rem;
}

h3 b {
    font-weight: 700;
}

div#navigationarrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

div#navigationarrows > button {
    transition: 500ms;
    padding: 0.25em 1em;
    border: none;
    background-color: var(--greycolor);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    color: var(--pinkcolor);
    font-size: 2em;
}

div#navigationarrows > button.inactive {
    transition: 500ms;
    color: var(--darkgreycolor);
    cursor: default;
}